@charset "UTF-8";
/* reset */
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
}

/* end reset */
/* public */
.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

/* end public */
/* layout */
/* end layout */
.header-top, .header-center, .header-search, .nav, .small, .product {
  margin: 0 auto;
}

.header-center .header-center-left {
  float: left;
}

.header-center .header-center-right {
  float: right;
}

.header-center-right li {
  float: left;
}

.header-search-cart, .header-search-area, .header-logo {
  float: left;
}

.header-search-main .img6, .header-search-main #headSearchInput, .header-search-main #headSearchBtn {
  float: left;
}

.header-center-left span, a {
  font-size: 12px;
  color: #666;
}

.header-center-right a, span {
  font-size: 12px;
  color: #666;
}

.header-top {
  width: 1207px;
  height: 71px;
  background: url("../images/home/logo.jpg") no-repeat;
}

.header-center {
  width: 1200px;
  height: 24px;
}
.header-center .header-center-left {
  width: 258px;
  height: 24px;
}
.header-center .header-center-left a {
  line-height: 24px;
}
.header-center .header-center-left span {
  line-height: 24px;
}
.header-center .header-center-right {
  width: 612px;
  height: 24px;
}
.header-center .header-center-right a {
  line-height: 24px;
}
.header-center .header-center-right span {
  line-height: 24px;
  display: block;
}
.header-center .header-center-right img {
  line-height: 24px;
  float: left;
}
.header-center .header-center-right li {
  padding: 0 5px;
}
.header-center .header-center-right .header-info-right {
  width: 612px;
  height: 24px;
}
.header-center .header-center-right .header-info-right .header-info-right1 {
  width: 60px;
  height: 24px;
}
.header-center .header-center-right .header-info-right .header-info-right1 img {
  float: left;
}
.header-center .header-center-right .header-info-right .header-info-right1 a {
  float: left;
}
.header-center .header-center-right .header-info-right .header-info-right2 {
  width: 79px;
  height: 24px;
}
.header-center .header-center-right .header-info-right .header-info-right2 img {
  float: left;
  padding: 0 5px;
}
.header-center .header-center-right .header-info-right .header-info-right2 a {
  float: left;
}
.header-center .header-center-right .header-info-right .header-attend {
  width: 129px;
  height: 24px;
  position: relative;
}
.header-center .header-center-right .header-info-right .header-attend span {
  float: left;
  position: absolute;
  left: 0;
}
.header-center .header-center-right .header-info-right .header-attend img {
  float: left;
}
.header-center .header-center-right .header-info-right .header-attend .img1 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 67px;
  top: 4px;
  float: left;
}
.header-center .header-center-right .header-info-right .header-attend .img2 {
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0;
  top: 24px;
  display: none;
}
.header-center .header-center-right .header-info-right .header-attend .img3 {
  position: absolute;
  left: 87px;
  top: 4px;
}
.header-center .header-center-right .header-info-right .header-attend .img4 {
  position: absolute;
  left: 107px;
  top: 4px;
}
.header-center .header-center-right .header-info-right .header-spe {
  width: 6px;
  height: 24px;
  line-height: 24px;
}

#header-info-right2 {
  position: relative;
  width: 69px;
  height: 24px;
}
#header-info-right2 span {
  float: left;
  position: absolute;
  top: 3px;
}
#header-info-right2 img {
  float: left;
  position: absolute;
  left: 55px;
  top: 1px;
}
#header-info-right2 .header-service {
  width: 79px;
  height: 72px;
  position: absolute;
  left: 0;
  top: 24px;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

#header-info-right3 {
  width: 69px;
  height: 24px;
  position: relative;
}
#header-info-right3 img {
  position: absolute;
  left: 0;
  top: 4px;
}
#header-info-right3 a {
  position: absolute;
  left: 15px;
  top: 0;
}

#header-info-right4 {
  width: 69px;
  height: 24px;
  position: relative;
}
#header-info-right4 img {
  position: absolute;
  left: 0;
  top: 4px;
}
#header-info-right4 a {
  position: absolute;
  left: 18px;
  top: 1px;
}

#header-info-right5 {
  width: 69px;
  height: 24px;
  position: relative;
}
#header-info-right5 a {
  position: absolute;
  left: 10px;
  top: 1px;
}

.header-search {
  width: 1200px;
  height: 100px;
  margin-top: 25px;
}
.header-search .header-logo {
  width: 350px;
  height: 99px;
  margin-top: 5px;
  position: relative;
}
.header-search .header-logo img {
  float: left;
}
.header-search .header-logo .img5 {
  position: absolute;
  left: 0;
  top: 0;
}
.header-search .header-logo .header-logo-ad img {
  position: absolute;
  left: 180px;
  top: 0;
}
.header-search .header-search-area {
  width: 540px;
  height: 69px;
  margin-top: 25px;
}
.header-search .header-search-area .header-search-main {
  width: 540px;
  height: 41px;
}
.header-search .header-search-area .header-search-main .img6 {
  width: 29px;
  height: 29px;
  border: 3px solid #fc595a;
  border-right: 0;
}
.header-search .header-search-area .header-search-main #headSearchForm #headSearchInput {
  width: 420px;
  height: 29px;
  border: 3px solid #fc595a;
  border-right: 0;
  border-left: 0;
}
.header-search .header-search-area .header-search-main #headSearchForm #headSearchBtn {
  width: 85px;
  height: 35px;
  background: #fc595a;
  border: none;
}
.header-search .header-search-area .header-search-word {
  width: 540px;
  height: 28px;
}
.header-search .header-search-area .header-search-word li {
  float: left;
}
.header-search .header-search-area .header-search-word li a {
  font-size: #ccc;
  font-size: 12px;
}
.header-search .header-search-area .header-search-word .header-word-title {
  width: 70px;
  height: 28px;
}
.header-search .header-search-area .header-search-word .header-word-title1 {
  width: 64px;
  height: 28px;
}
.header-search .header-search-area .header-search-word .header-word-title2 {
  width: 58px;
  height: 28px;
}
.header-search .header-search-cart {
  width: 270px;
  height: 35px;
  background: pink;
  margin-top: 30px;
  position: relative;
}
.header-search .header-search-cart .header-search-cart-left {
  width: 126px;
  height: 35px;
  float: left;
  position: relative;
}
.header-search .header-search-cart .header-search-cart-left #headCartCount {
  position: absolute;
  left: 15px;
  top: -10px;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  background: url("../images/home/cart_count.png") no-repeat;
}
.header-search .header-search-cart .header-search-cart-right {
  width: 129px;
  height: 35px;
  float: left;
  margin-left: 8px;
}

.navcon {
  border-bottom: 2px solid #b1191b;
}
.navcon .nav {
  width: 1200px;
  height: 35px;
  position: relative;
}
.navcon .nav li {
  float: left;
  padding: 0 30px;
  line-height: 35px;
}
.navcon .nav li a {
  font-size: 14px;
  color: #525252;
}
.navcon .nav li a:hover {
  color: red;
}
.navcon .nav .headNav1 {
  width: 35px;
  height: 35px;
}
.navcon .nav .headNav2 {
  width: 60px;
  height: 35px;
}
.navcon .nav .headNav3 {
  width: 45px;
  height: 35px;
}

.navcon {
  position: relative;
}
.navcon .header-class-area .header-class {
  width: 190px;
  height: 480px;
  background: #c81622;
  position: absolute;
  left: 75px;
  top: 0;
}
.navcon .header-class-area .header-class .header-class-title {
  width: 190px;
  height: 35px;
  background: #b1191b;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.flash-content {
  width: 1349px;
  height: 453px;
}
.flash-content .flash-content-con {
  width: 1200px;
  height: 451px;
  position: relative;
}
.flash-content .flash-content-con .flash-area {
  width: 740px;
  height: 445px;
  float: left;
  position: absolute;
  left: 265px;
  top: 0x;
}
.flash-content .flash-content-con .flash-area .flash-img ul {
  width: 740px;
  height: 445px;
  overflow: hidden;
}
.flash-content .flash-content-con .radius {
  height: 20px;
  position: absolute;
  left: 470px;
  bottom: 20px;
  overflow: hidden;
}
.flash-content .flash-content-con .radius .flash-count {
  width: 740px;
  height: 20px;
}
.flash-content .flash-content-con .radius .flash-count li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #656565;
  text-align: center;
  line-height: 20px;
  margin: 0 3px;
  float: left;
}
.flash-content .flash-content-con .radius .flash-count li:hover {
  background: #fff;
}
.flash-content .flash-content-con .info-area {
  width: 253px;
  height: 451px;
  margin-left: 5px;
  float: left;
  position: absolute;
  left: 1010px;
  top: 0;
}
.flash-content .flash-content-con .info-area .text-info {
  width: 249px;
  height: 252px;
  background: #ffffff;
  border: 1px solid #dddddd;
  float: left;
}
.flash-content .flash-content-con .info-area .text-info .title {
  width: 251px;
  height: 40px;
  float: left;
  font-size: 15px;
  color: #6b6b6b;
  margin-left: 13px;
}
.flash-content .flash-content-con .info-area .text-info .text {
  width: 251px;
  height: 176px;
  float: left;
}
.flash-content .flash-content-con .info-area .text-info .text .img {
  width: 214px;
  height: 12px;
  float: left;
  padding-bottom: 6px;
  position: relative;
  left: 10px;
  background: url("../images/home/flash_info_new.jpg") no-repeat 0 0;
}
.flash-content .flash-content-con .info-area .text-info .text .img span {
  float: left;
  font-size: 12px;
  color: red;
  position: absolute;
  left: 25px;
  top: 0;
}
.flash-content .flash-content-con .info-area .text-info .text li {
  width: 227px;
  height: 22px;
  float: left;
  font-size: 12px;
  color: #666;
  padding: 0;
  margin-left: 13px;
}
.flash-content .flash-content-con .info-area .text-info .text li a {
  width: 227px;
  height: 12px;
}
.flash-content .flash-content-con .info-area .flash-slideBox {
  width: 252px;
  height: 196px;
  background: #ededed;
  float: left;
  border: 1px solid #ededed;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-count {
  width: 251px;
  height: 30px;
  float: right;
  position: relative;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-count ul {
  width: 108px;
  height: 21px;
  float: right;
  margin-top: 10px;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-count ul li {
  width: 11px;
  height: 11px;
  line-height: 21px;
  float: left;
  text-align: center;
  display: inline;
  border-radius: 50%;
  background: #5a5a5a;
  margin: 0 5px;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-count ul li li:hover {
  background: #dedede;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-img {
  width: 251px;
  height: 167px;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-img ul {
  width: 251px;
  height: 167px;
  overflow: hidden;
}
.flash-content .flash-content-con .info-area .flash-slideBox .flash-img ul li img {
  width: 250px;
  height: 168px;
}

.small {
  width: 1200px;
  height: 146px;
  margin-top: 10px;
}
.small .promotion-title {
  width: 190px;
  height: 136px;
  float: left;
}
.small .promotion-area {
  width: 1009px;
  height: 136px;
  float: left;
}
.small .promotion-area .promotion-list {
  width: 1009px;
  height: 136px;
}
.small .promotion-area .promotion-list .tempWrap {
  width: 1008px;
  height: 136px;
  border: 1px solid #cccccc;
  overflow: hidden;
  position: relative;
}
.small .promotion-area .promotion-list .tempWrap ul {
  width: 3024px;
  height: 136px;
  position: absolute;
  left: -1008px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.small .promotion-area .promotion-list .tempWrap ul li {
  width: 253px;
  height: 136px;
  float: left;
}
.small .promotion-area .promotion-list .tempWrap ul li img {
  width: 253px;
  height: 134px;
  float: left;
}

.product {
  width: 1200px;
  height: 510px;
  margin-top: 10px;
}
.product .newAd_wrapper {
  width: 1200px;
  height: 500px;
}
.product .newAd_wrapper .left_Ad {
  width: 191px;
  height: 499px;
  float: left;
}
.product .newAd_wrapper .middle_Ad {
  width: 797px;
  height: 500px;
  float: left;
  position: relative;
  border-top: 1px solid #dcd3d4;
  overflow: hidden;
}
.product .newAd_wrapper .middle_Ad .prevBtn {
  width: 31px;
  height: 64px;
  background: url("../images/home/left_btn.jpg") no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 214px;
  cursor: pointer;
  z-index: 100;
  font-family: simsun;
}
.product .newAd_wrapper .middle_Ad .nextBtn {
  width: 31px;
  height: 64px;
  background: url("../images/home/right_btn.jpg") no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 214px;
  cursor: pointer;
  z-index: 100;
  font-family: simsun;
}
.product .newAd_wrapper .middle_Ad ul {
  margin: 0;
  padding: 0;
  width: 2391px;
  height: 498px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab {
  width: 797px;
  height: 498px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member {
  width: 178px;
  height: 228px;
  float: left;
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .product_photo {
  width: 178px;
  height: 163px;
  overflow: hidden;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .product_photo img {
  width: 230px;
  height: 230px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .product_name {
  width: 178px;
  height: 14px;
  padding-top: 1px;
  display: block;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .productPriceRow {
  width: 89px;
  height: 12px;
  margin-top: -11px;
  display: block;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .productPriceRow .priceNumber {
  width: 47px;
  height: 12px;
  font-size: 12px;
  color: red;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time {
  width: 178px;
  height: 18px;
  margin-left: 4px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clockimg {
  width: 18px;
  height: 18px;
  float: left;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clockimg img {
  width: 17px;
  height: 17px;
  margin-left: 30px;
  margin-top: 10px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime {
  width: 86px;
  height: 18px;
  float: left;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime span {
  width: 96px;
  height: 18px;
  margin-left: 45px;
  display: block;
  margin-top: 10px;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime span .days {
  width: 28px;
  height: 14px;
  float: left;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime span .hours {
  width: 14px;
  height: 14px;
  float: left;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime span .minites {
  width: 14px;
  height: 14px;
  float: left;
}
.product .newAd_wrapper .middle_Ad ul .middle_Ad_tab .product_member .ending_time .clocktime span .seconds {
  width: 14px;
  height: 14px;
  float: left;
}
.product .newAd_wrapper .right_Ad {
  width: 198px;
  height: 500px;
  float: left;
}
.product .newAd_wrapper .right_Ad .topItem {
  width: 198px;
  height: 250px;
  float: left;
}

.small2 {
  width: 1200px;
  height: 73px;
  margin: 5px auto;
}

.market {
  width: 1200px;
  height: 435px;
  margin: 10px auto;
}
.market .floor_left {
  width: 477px;
  height: 425px;
  float: left;
}
.market .floor_left .floor_left-con {
  width: 193px;
  height: 423px;
  float: left;
  background: #ffffff;
}
.market .floor_left .floor_left-con .floor_left_img {
  width: 193px;
  height: 53px;
  float: left;
}
.market .floor_left .floor_left-con .floor_info {
  width: 191px;
  height: 370px;
  float: left;
}
.market .floor_left .floor_left-con .floor_info ul {
  width: 181px;
  height: 225px;
  float: left;
}
.market .floor_left .floor_left-con .floor_info ul li {
  width: 90px;
  height: 30px;
  float: left;
}
.market .floor_left .floor_left-con .floor_info ul li a {
  font-size: 12px;
  color: #555555;
}
.market .floor_left .floor_left-con .floor_info .slideBox {
  width: 191px;
  height: 145px;
  float: left;
  position: relative;
}
.market .floor_left .floor_left-con .floor_info .slideBox .hd {
  width: 73px;
  height: 15px;
  float: left;
  position: absolute;
  left: 10px;
  top: 125px;
}
.market .floor_left .floor_left-con .floor_info .slideBox .hd ul {
  width: 72px;
  height: 225px;
  float: left;
}
.market .floor_left .floor_left-con .floor_info .slideBox .hd ul li {
  width: 11px;
  height: 11px;
  float: left;
  margin: 0 5px;
  border-radius: 50%;
  background: #ccc;
}
.market .floor_left .floor_left-con .floor_info .slideBox .bd {
  width: 191px;
  height: 145px;
  float: left;
  overflow: hidden;
}
.market .floor_left .floor_left-con .floor_info .slideBox .bd ul {
  width: 191px;
  height: 145px;
  float: left;
  overflow: hidden;
}
.market .floor_left .floor_left-con .floor_info .slideBox .bd ul li {
  width: 191px;
  height: 145px;
}
.market .floor_left .floor_left-con .floor_info .slideBox .bd ul img {
  width: 191px;
  height: 145px;
  float: left;
}
.market .floor_left .floor_ad {
  width: 283px;
  height: 423px;
  float: left;
  position: relative;
}
.market .floor_left .floor_ad .hd {
  width: 226px;
  height: 15px;
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.market .floor_left .floor_ad .hd ul {
  width: 225px;
  height: 7px;
}
.market .floor_left .floor_ad .hd ul li {
  width: 70px;
  height: 7px;
  float: left;
  margin-left: 5px;
  cursor: pointer;
  background: #CEB9BE;
}
.market .floor_left .floor_ad .bd {
  width: 283px;
  height: 423px;
  overflow: hidden;
}
.market .floor_left .floor_ad .bd ul {
  width: 283px;
  height: 423px;
  overflow: hidden;
}
.market .floor_left .floor_ad .bd ul li {
  width: 283px;
  height: 423px;
}
.market .floor_center {
  width: 720px;
  height: 425px;
  float: left;
}
.market .floor_center .floor_title {
  width: 720px;
  height: 38px;
  float: left;
  clear: both;
  border-bottom: 1px solid #D0D0D0;
  text-align: center;
}
.market .floor_center .floor_title ul {
  width: 560px;
  height: 35px;
  margin-left: 30px;
}
.market .floor_center .floor_title ul li {
  width: 112px;
  height: 35px;
  float: left;
  line-height: 35px;
  font-size: 14px;
  font-weight: bolder;
  color: #6f6f6f;
}
.market .floor_center .floor_title ul li:hover {
  color: #e4393c;
  background: url("../images/home/floor_pdt_tab.jpg") no-repeat center bottom;
}
.market .floor_center .floor_pro_brd {
  width: 720px;
  height: 388px;
  float: left;
}
.market .floor_center .floor_pro_brd .floor_pro_info {
  width: 595px;
  height: 385px;
  float: left;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro {
  width: 595px;
  height: 385px;
  float: left;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p {
  width: 197px;
  height: 192px;
  float: left;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p p {
  text-align: left;
  text-indent: 18px;
  line-height: 20px;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p img {
  width: 142px;
  height: 142px;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p .self1 {
  width: 195px;
  height: 20px;
  display: block;
  padding-top: 5px;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p .self1 a {
  width: 88px;
  height: 12px;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p .self {
  width: 195px;
  height: 20px;
  background: url("../images/home/self.png") no-repeat center right;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p .self font {
  font-size: 12px;
  color: #E5383C;
  font-family: 宋体;
}
.market .floor_center .floor_pro_brd .floor_pro_info .floor_pro .floor_pro_p .self span {
  font-size: 14px;
  color: red;
}
.market .floor_center .floor_right {
  width: 120px;
  height: 385px;
  float: left;
}
.market .floor_center .floor_right ul {
  width: 120px;
  height: 385px;
  float: left;
}
.market .floor_center .floor_right ul li {
  width: 121px;
  height: 56px;
  float: left;
}
.market .floor_center .floor_right ul li img {
  width: 119px;
  height: 54px;
  float: left;
}

.foot-info {
  width: 1202px;
  height: 192px;
  border: 1px solid #d0d0d0;
  margin: 10px auto;
}
.foot-info .foot-info1 {
  width: 140px;
  height: 146px;
  float: left;
  margin-right: 30px;
}
.foot-info .foot-info1 li {
  width: 130px;
  height: 16px;
  float: left;
  line-height: 16px;
  margin: 3px;
  font-size: 13px;
  text-align: left;
  color: #929292;
  font-size: 13px;
}
.foot-info .foot-info1 li a {
  margin: 3px;
  font-size: 13px;
  text-align: left;
  color: #929292;
  font-size: 13px;
}
.foot-info .foot-info1 .top {
  width: 130px;
  height: 31px;
  float: left;
  border-bottom: 1px solid #e3e3e3;
  line-height: 31px;
  text-align: left;
  color: #c2c2c2;
  font-size: 15px;
}
.foot-info .foot-info1 img {
  width: 6px;
  height: 6px;
  margin-top: 5px;
  margin-right: 3px;
}
.foot-info .foot-info2 {
  width: 140px;
  height: 170px;
  float: left;
  margin-right: 30px;
}
.foot-info .foot-info2 .top {
  width: 130px;
  height: 31px;
  float: left;
  border-bottom: 1px solid #e3e3e3;
}
.foot-info .foot-info2 .top a {
  line-height: 31px;
  text-align: left;
  color: #c2c2c2;
  font-size: 15px;
}
.foot-info .foot-info2 img {
  width: 100px;
  height: 98px;
  margin-top: 5px;
  margin-right: 3px;
}
.foot-info .foot-info2 p {
  width: 130px;
  height: 16px;
  margin-top: 5px;
}
.foot-info .foot-info2 p a {
  width: 88px;
  height: 13px;
  color: #929292;
  font-size: 15px;
  padding-left: 13px;
}

.foot-logo {
  width: 1200px;
  height: 117px;
  margin: 10px auto;
}

.foot-bottom {
  width: 1200px;
  height: 129px;
  margin: 10px auto;
}
.foot-bottom .foot-link {
  width: 1200px;
  height: 74px;
  float: left;
}
.foot-bottom .foot-link .row-wrap {
  width: 615px;
  height: 16px;
  float: left;
  margin-top: 5px;
  margin-left: 270px;
}
.foot-bottom .foot-link .row-wrap li {
  margin: 0 10px;
}
.foot-bottom .foot-link .row-wrap li a {
  width: 48px;
  height: 16px;
  float: left;
  display: block;
  padding: 0 6px;
}
.foot-bottom .foot-link .row-wrap li img {
  width: 5px;
  height: 16px;
  float: left;
  display: block;
}
.foot-bottom .foot-link .row-wrap1 {
  width: 690px;
  height: 16px;
  float: left;
  margin-top: 5px;
  margin-left: 240px;
}
.foot-bottom .foot-link .row-wrap1 li {
  margin: 0 10px;
}
.foot-bottom .foot-link .row-wrap1 li a {
  width: 48px;
  height: 16px;
  float: left;
  display: block;
  padding: 0 6px;
  color: #929292;
  font-size: 12px;
}
.foot-bottom .foot-link .row-wrap1 li img {
  width: 5px;
  height: 16px;
  float: left;
  display: block;
}
.foot-bottom .foot-link .row-wrap2 {
  width: 550px;
  height: 24px;
  float: left;
  margin-top: 5px;
  margin-left: 300px;
  display: block;
}
.foot-bottom .foot-link .row-wrap2 li {
  width: 482px;
  height: 24px;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 24px;
  float: left;
  display: block;
  text-align: center;
}
.foot-bottom .foot-link2 {
  width: 1200px;
  height: 50px;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-left: 350px;
}
.foot-bottom .foot-link2 .foot-link2-con {
  width: 800px;
  height: 50px;
  float: left;
  margin: 0 auto;
  text-align: center;
}
.foot-bottom .foot-link2 .foot-link2-con a {
  width: 108px;
  height: 40px;
  float: left;
}
.foot-bottom .foot-link2 .foot-link2-con a img {
  width: 108px;
  height: 40px;
  float: left;
}

.nav-right {
  width: 36px;
  height: 288px;
  display: block;
  right: 34px;
  position: absolute;
}
.nav-right a {
  width: 36px;
  height: 36px;
  float: left;
}

/*# sourceMappingURL=index.css.map */
