@charset "utf-8";
//居中
@mixin center-block{
    margin: 0 auto;
}
.header-top,.header-center,.header-search,.nav,.small,.product,{
    @include center-block;
}
//浮动
@mixin float-left{
    float: left;
}
@mixin float-right{
    float: right;
}
.header-center{
    .header-center-left{
        @include float-left;
    }
}
.header-center{
    .header-center-right{
        @include float-right;
    }
}
.header-center-right{
    li{
         @include float-left;
    }
}
//
.header-search-cart,.header-search-area,.header-logo{
     @include float-left;
}
.header-search-main {
    .img6,#headSearchInput,#headSearchBtn{
        @include float-left;
    }
}
//字体和字体颜色
@mixin fontSize{
    font-size:12px;
    color:#666;
}
.header-center-left span,a{
   
        @include fontSize;
   
}
.header-center-right a,span{
    @include fontSize;
}
//

